<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <link rel="icon" type="image/png" href="business.png">
   <title>Start Capital Tally | Business-Sector</title>

   
   <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
    <!-- header design-->
    <header class="header">
        <a href="#" class="logo">Start Capital Tally</a>
        

        <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/">Service</a>
            <a href="/">About</a>
        </nav>
    </header>

    <div class="loading1">
        <div class="ring"></div>
        <div class="ring"></div>
        <div class="ring"></div>
        <span class="loading"> Business Sector Updating Soon...</span>
    </div>
    
     <!-- footer desing-->

     <footer class="footer">
        <div class="footer-text">
            <p> Copyrights &copy; 2023 by Giri,Rakesh,Atchuth</p>
        </div>
        <div class="footer-iconTop">
            <a href="#Home"><i class='bx bx-up-arrow-alt'></i></a>
        </div>

    </footer>
</body>
</html>
